body {
    margin: 0;
    padding: 0;
    
}


.container {
    background-color: #EAF2FF;
    font-family: 'calibri';
    max-width: 1000px;
    margin: 0 auto;
    height: 500px;


}



.tittle_section {
    position: relative;
    left: 84px;
    top: 40px;

}

.tittle_caption {
    font-family: 'calibri';
    position: relative;
    left: 84px;
    top: 19px;
}

.ticket_bar-1 {
    background-color: white;
    position: relative;
    width: 800px;
    height: 70px;
    border-radius: 10px;
    margin: 0 auto;
    top: 35px;


}

.ticket_content_head-1 {
    position: relative;
    padding: 0;
    height: 56px;
    bottom: 71px;
    left: 125px;
    font-size: small;
}

.ticket_sub_content-1-1 {
    position: relative;
    font-size: small;
    bottom: 109px;
    left: 125px;
}

.ticket_sub_content-1-2 {
    position: relative;
    bottom: 14px;
    font: small;
}

.D_T-1 {
    background-color: #F6D9D5;
    position: relative;
    width: 90px;
    height: 58px;
    left: 20px;
    border-radius: 15px;
    text-align: center;
    top: 6px;
}

.D_T-1>p {
    position: relative;
    top: 10px;
    font-size: small;
}

.D_T-1>h3 {
    position: relative;
    bottom: 10px;
    font-size: X-large;
}

.tittle_bar-1 {
    position: relative;
    left: 10px;
    top: 8px;

}

.button-1 {
    position: relative;
    color: black;
    background-color: white;
    font-family: 'calibri';
    border: none;
    left: 730px;
    bottom: 11px;

}

.ticket_bar-2 {
    background-color: white;
    position: relative;
    width: 800px;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    top: 15px;


}

.ticket_content_head-2 {
    position: relative;
    left: 125px;
    bottom: 75px;
    font-size: small;

}

.ticket_sub_content-2-1 {
    position: relative;
    left: 125px;
    bottom: 83px;
    width: 520px;
    word-break: break-all;
    font-size: small;
}

.button-2 {
    position: relative;
    background-color: black;
    color: white;
    font-family: 'calibri';
    border-radius: 5px;
    height: 31px;
    width: 100px;
    left: 685px;
    bottom: 140px;
    font-size: 83%;
    text-align: center;
}

.D_T-2 {
    background-color: #F0FAD8;
    position: relative;
    width: 90px;
    height: 58px;
    left: 20px;
    border-radius: 15px;
    text-align: center;
    top: 6px;
}

.D_T-2>p {
    position: relative;
    top: 10px;
    font-size: small;
}

.D_T-2>h3 {
    position: relative;
    bottom: 10px;
    font-size: x-large;
}

.tittle_bar-2 {
    position: relative;
    left: 10px;
    top: 8px;
}

.ticket_bar-3 {
    background-color: white;
    position: relative;
    width: 800px;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    top: 15px;



}

.ticket_content_head-3 {
    position: relative;
    bottom: 72px;
    left: 125px;
    font-size: small;
}

.ticket_sub_content-3-1 {
    position: relative;
    left: 125px;
    bottom: 80px;
    width: 520px;
    font-size: small;
    word-break: break-all;
}

.D_T-3 {
    background-color: #D2E5F4;
    position: relative;
    width: 90px;
    height: 58px;
    left: 20px;
    border-radius: 15px;
    text-align: center;
    top: 6px;
}

.D_T-3>p {
    position: relative;
    top: 10px;
    font-size: small;
}

.D_T-3>h3 {
    position: relative;
    bottom: 10px;
    font-size: x-large;
}

.tittle_bar-3 {
    position: relative;
    left: 10px;
    top: 8px;
}

.button-3 {
    position: relative;
    background-color: black;
    color: white;
    font-family: 'calibri';
    border-radius: 5px;
    height: 31px;
    width: 100px;
    left: 685px;
    bottom: 140px;
    font-size: 83%;
    text-align: center;
}

.ticket_bar-4 {
    background-color: white;
    position: relative;
    width: 800px;
    height: 70px;
    margin: 0 auto;
    border-radius: 10px;
    top: 15px;


}

.ticket_content_head-4 {
    position: relative;
    left: 125px;
    bottom: 70px;
    font-size: small;
}

.ticket_sub_content-4-1 {
    position: relative;
    left: 125px;
    bottom: 80px;
    width: 520px;
    word-break: break-all;
    font-size: small;
}

.D_T-4 {
    background-color: #E1D3F7;
    position: relative;
    width: 90px;
    height: 58px;
    left: 20px;
    border-radius: 15px;
    text-align: center;
    top: 6px;
}

.D_T-4>p {
    position: relative;
    top: 10px;
    font-size: small;
}

.D_T-4>h3 {
    position: relative;
    bottom: 10px;
    font-size: x-large;
}

.tittle_bar-4 {
    position: relative;
    left: 10px;
    top: 8px;
}

.button-4 {
    position: relative;
    background-color: black;
    color: white;
    font-family: 'calibri';
    border-radius: 5px;
    height: 31px;
    width: 100px;
    left: 685px;
    bottom: 140px;
    font-size: 83%;
    text-align: center;
}